<% content_for :title do %>gutenberg.cs.moravian.edu<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="Text" data-title="Gutenberg Status" style="background-color:rgb(0, 0, 255);"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="progress" data-view="Meter" data-title="Gutenberg Progress" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="remaining" data-view="Countdown" data-title="Gutenberg Remaining" style="background-color:rgb(0, 0, 255);"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elapsed" data-view="Countdown" data-title="Gutenberg Elapsed" style="background-color:rgb(0, 0, 255);"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job_name" data-view="Text" data-title="Gutenberg Job Name" style="background-color:rgb(0, 0, 255);"></div>
    </li>
	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temp" data-view="Temps" data-title=" Gutenberg Bed" style="background-color:rgb(0, 0, 255);"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="remaining2" data-view="Countdown" data-title="Xerox Remaining" style="background-color:rgb(255, 111, 50);"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
     <div data-id="status2" data-view="Text" data-title="Xerox Status" style="background-color:rgb(255, 111, 50);"></div>
    </li>
	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="job_name2" data-view="Text" data-title="Xerox Job Name" style="background-color:rgb(255, 111, 50);"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="progress2" data-view="Meter" data-title="Xerox Progress" data-height="200" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div> 
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
     <div data-id="elapsed2" data-view="Countdown" data-title="Xerox Elapsed" style="background-color:rgb(255, 111, 50);"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bedtemp2" data-view="Temps" data-title="Xerox Bed" style="background-color:rgb(255, 111, 50);"></div>
    </li>
  </ul>
</div>
