// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$value-color:    rgba(255, 255, 255, 1);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
    font-size: 180%;
    color: $title-color;
  }

  .value {
    font-weight: 600;
    color: $value-color;
    font-size: 500%
  }
}
